.footer {
    background: linear-gradient(180deg, #30425b -21.36%, #3a456d 100%) no-repeat 50% 50%;
    padding: 50px 50px;

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__links {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        li {
            margin-bottom: 20px;

            a {
                padding: 5px;
                color: white;
            }
        }
    }

    &__info {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: flex-start;
        margin-top: -10px;
    }

    &__socials {
        margin-bottom: 10px;

        .fa-brands {
            color: #F0F3F8;
            font-size: 1.5rem;
            padding: 8px;
        }
    }

    &__copyright {
        color: white;
    }
}

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {
    .footer {
        .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__info {
            width: 100%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}