.offers {
    padding: 75px 50px 150px;

    &__title-box {
        margin-bottom: 75px;
        p{
            color: #637381;
            font-size: 20px;
            line-height: 1.9rem;
            font-weight: 300;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        color: #2a224b;
        text-align: left;
    }
    &__subtitle{
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 40px;
        font-style: normal;
        font-weight: 600;
        color: #2D73DE;
        text-align: left;
    }

    &__all {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
    }

    &__offer {
        text-align: center;
        padding: 20px 10px
    }

    &__offer-info {}

    &__offer-logo {

        .fa-regular,
        .fa-solid {
            font-size: 3.2rem;
            margin-bottom: 50px;
            color: #2D73DE;
        }
    }

    &__offer-title {
        color: #2a224b;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    &__offer-p {
        margin-bottom: 45px;
        font-size: 18px;
        line-height: 31px;
        font-style: normal;
        font-weight: 300;
    }
}

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .offers {
        &__all {
            flex-wrap: wrap;
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}