.pricings {
    padding: 75px 50px 150px;
    display: flex;
    justify-content: center;

    &__title-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            color: #637381;
            font-size: 20px;
            line-height: 1.9rem;
            font-weight: 300;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            max-width: 600px;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__title {
        // margin-bottom: 30px;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        color: #2a224b;
        text-align: left;
    }
    &__subtitle{
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 40px;
        font-style: normal;
        font-weight: 600;
        color: #2D73DE;
    }
    &__p {
        margin-bottom: 45px;
        font-size: 18px;
        line-height: 31px;
        font-style: normal;
        font-weight: 300;
    }

    &__all {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__pricing {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 518px;
        width: 440px;
        border: 3px solid #F0F3F8;
        // height: 500px;
        padding: 48px;
        border-radius: 10px;
    }
    &__pricing1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        border: 3px solid #F0F3F8;
        background: #3056D3;
        height: 575px;
        border-radius: 10px;
        width: 440px;
        padding: 48px;
        .pricings__pricing-title{
            color: white;
        }
        .pricings__pricing-price{
            color: white;
        }
        .pricings__pricing-p{
            color: white;
        }
        }

    &__pricing-info {}

    &__pricing-logo {

        .fa-regular,
        .fa-solid {
            font-size: 4rem;
            margin-bottom: 50px;
            color: #2D73DE;
        }
    }

    &__pricing-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 20px;
        color: #2a224b;
        text-transform: uppercase;
    }

    &__pricing-price {
        margin-bottom: 36px;
        color: #2D73DE; 
        font-size: 28px;
        text-align: center;
        font-weight: 600;
    }

    &__pricing-p {
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 31px;
        font-style: normal;
        font-weight: 500;
        color: #84858c;
    }
}

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .pricings {
        &__all {
            flex-wrap: wrap;
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}