.quiz {
    // height: 100vh;
    padding: 50px 100px;
    
    &__title {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }
}

.question-box {
    width: 100%;
    &__subtitle{
        text-align: center;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: #FFB904;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    &__question {
        font-size: 1.6rem;
        line-height: 130%;
        font-weight: 700;
        margin-bottom: 2rem;
        color: #172035;
        text-align: center;
    }

    &__answers {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;
        background: #F2F2F2;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        display: flex;
        align-items: center;
        color: black;
            margin-left: 20px;
            font-size: 1.2rem;
            text-transform: capitalize;
        &:hover {
            background-color: #374A7C;
            color: white;
        }
    }
    &__answer-index {
        border: none;
        background: rgba(255,255,255,0.4);
        padding: 8px 10px;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        border-radius: 50%;
        cursor: pointer;
    }
    &__answer{
        font-weight: 300;
        font-size: 1rem;
    }
}