.quiz {
    // height: 100vh;
    padding: 0 50px 100px;

    .container {
        max-width: 900px;
    }

    &__title {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    &__questions-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__questions-submit {
        text-align: center;
        border: none;
        color: white;
        padding: 10px 60px;
        border-radius: 20px;
        background: #0F8BFD;
        cursor: pointer;
        font-size: 1rem;
    }
}

.question-box {
    width: 100%;
    margin: 50px 0;

    &__subtitle {
        text-align: center;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: #FFB904;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__question {
        font-size: 1.6rem;
        line-height: 130%;
        font-weight: 700;
        margin-bottom: 2rem;
        color: #172035;
        text-align: center;
    }

    &__answers {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;
        background: #F2F2F2;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        display: flex;
        align-items: center;
        color: #172035;
        margin-left: 20px;
        font-size: 1.2rem;
        text-transform: capitalize;

        &:hover {
            background-color: #374A7C;
            color: white;
        }
    }

    &__answer-index {
        border: none;
        background: rgba(255, 255, 255, 0.4);
        padding: 8px 10px;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        border-radius: 50%;
        cursor: pointer;
    }

    &__answer {
        font-weight: 300;
        font-size: 1rem;
    }
}

.score-board {
    height: calc(100vh - 232px);
    width: 100%;

    .subtitle {
        text-align: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #FFB904;
        font-weight: 600;
        margin-bottom: 5%;
    }

    .score {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 90px;
        font-style: normal;
        font-weight: 300;
        color: #2a224b;
        text-align: center;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    .playBtn {
        text-align: center;
        border: none;
        color: white;
        padding: 10px 60px;
        border-radius: 20px;
        background: #0F8BFD;
        cursor: pointer;
        font-size: 1rem;
        margin: 0 auto;
    }
}

.choose-quiz {
    background: #0F8BFD;
    padding: 30px 100px;
    margin: 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: .3s ease-in-out;

    &:hover {
        opacity: 1;

        a {
            scale: (1.2);
            transition: .3s ease-in-out;
        }
    }

    &__quiz {
        h1 {
            text-align: left;
            color: white;
            font-weight: 700;
            font-size: 2.3rem;
        }

    }

    &__info {
        display: flex;
        text-align: left;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        p {
            display: inline-block;
            color: #FFB904;
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 600;
            padding: 10px;
            line-height: 160%;
        }

        a {
            color: #F2F2F2;
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.4);
            font-weight: 600;
            text-transform: uppercase;
            transition: .3s ease-in-out;
            font-size: 1rem;
            text-align: center;
        }
    }
}