.reviews {
    background: #F6F7FB;
    padding: 75px 50px 150px;

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: auto;

    }

    &__all {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 40px;
            line-height: 90px;
            font-style: normal;
            font-weight: 300;
            color: #2a224b;
        }

        p {
            margin-bottom: 45px;
            font-size: 18px;
            line-height: 31px;
            font-style: normal;
            font-weight: 300;

            br {
                display: none;
            }

        }
    }

    &__single-review {
        background: white;
        padding: 80px 30px;
        display: flex;
        align-items: flex-start;

        &:nth-child(1) {}

        &:nth-child(2) {
            display: none;
        }

        &:hover {}
    }

    &__img {
        margin-top: -20px;
        margin-right: 20px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__review {
        display: flex;
        flex-direction: column;

        p {
            text-align: left;
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 31px;
            font-style: normal;
            font-weight: 300;
            max-width: 500px;

        }
    }

    &__user {
        h5 {
            font-weight: 500;
            color: #374A7C;
            font-size: 20px;
            text-align: left;
        }
    }


}




// Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .reviews {
        &__all {
            flex-wrap: wrap;
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}