.stats {
    background: #F6F7FB;
    padding: 75px 50px 150px;

    &__title-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            color: #637381;
            font-size: 20px;
            line-height: 1.9rem;
            font-weight: 300;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            max-width: 600px;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__title {
        // margin-bottom: 30px;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        color: #2a224b;
        text-align: left;
    }
    &__subtitle{
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 40px;
        font-style: normal;
        font-weight: 600;
        color: #2D73DE;
    }

    &__all {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__stat {
        text-align: center;
    }

    &__stat-number {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #2D73DE;
        font-weight: 600;
    }

    &__stat-title {
        color: #2a224b;
        font-weight: 500;
    }
}

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .stats {
        &__all {
            flex-wrap: wrap;
            flex-direction: column;
            gap: 2rem;
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}