@use './reset';
@use './plugin';
@use './header';
@use './mobile-menu';
@use './footer';
@use './quiz';
@use './hero';
@use './offers';
@use './reviews';
@use './video';
@use './pricing';
@use './stats';


html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

:root {
  --main-color: #12141d;
  --font-family: "Inter", sans-serif;
  --font-family-extra: "DM Sans", sans-serif;
  --font-family-oswald: "Oswald", sans-serif;
  --font-family-kaushan: "Kaushan Script", cursive;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  background-color: #fff;
  color: var(--main-color);
}

* {
  .container {
    max-width: 1366px;
    margin: 0 auto;
  }
}

.all-quizes {
  height: calc(100vh - 120px);
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}